.chat-messages {
    display: flex;
    flex: 1 1 0;
    flex-direction: column-reverse;
    gap: 12px;
    padding: 12px 16px;
    overflow-y: auto;
}

.chat-empty-messages-stub {
    height: 100%;
}

.chat-page--bot-message {
    width: fit-content;
    max-width: 90%;
}

.chat-page--user-message {
    width: fit-content;
    max-width: 80%;
    margin-left: auto;
}

.chat-page--bottom-section {
    box-sizing: border-box;
    padding: 0 12px 16px;
}

